.section3{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.section31{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.section31 span{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}
.section32{
    display: flex;
    gap: 100px;
}
.section32-box{
    width: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
}
.section32-box > :nth-child(1){
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}
.skill-1 img{
    width: 20px;
}
.skill-1{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
@media(max-width:1024px){
    .section32{
    margin-top: 10px;
    padding-bottom: 10%;
    display: flex;
    align-items:center;
    gap: 30px;
    flex-direction: column;
}
.section32-box{
    width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}
@media(max-width:767px){
    .section32-box{
    width: 320px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
}
}